@model HelpMoto.Web.Models.HistoryViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>History</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditHistory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MotorcycleId" />
            <input type="hidden" asp-for="Id" />

            <partial name="_History" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="DetailsMotorcycle" asp-route-id="@Model.MotorcycleId" class="btn btn-success">Back to Motorcycle</a>
            </div>
        </form>
    </div>
</div>
