@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/v1.jpg" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/v2.jpg" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/v3.jpg" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/v4.jpg" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/v5.jpg" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/v6.jpg" class="img-responsive" />
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Pages from any browser, from anywhere with internet</li>
            <li>From our HelpMoto app Bootstrap</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li>Registering on our website</li>
            <li>Downloading our app in appstore</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li>Manage your motorcycle</></li>
            <li>Carry out the control of maintenance performed</a></li>
            <li>Quickly locate a place of maintenance and advice for your motorcycle</li>
        </ul>
    </div>
</div>
